<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de contactos</title>
</head>
<body>

    <div th:if="${msgExito != null}">
        [[${msgExito}]]
    </div>
  <h1>Lista de contactos</h1>
  <a href="/nuevo">Añadir Nuevo Contacto</a>


    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>F. nacimiento</th>
            <th>F. registro</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contacto : ${contactos}">
            <td th:text="${contacto.id}"></td>
            <td th:text="${contacto.nombre}"></td>
            <td th:text="${contacto.email}"></td>
            <td th:text="${contacto.telefono}"></td>
            <td th:text="${contacto.fechaNacimiento}"></td>
            <td th:text="${contacto.fechaRegistro}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>